<!DOCTYPE html>
<!--
 - This file is part of iTasks-Electron.
 -
 - iTasks-Electron is free software: you can redistribute it and/or modify it
 - under the terms of the GNU Affero General Public License as published by the
 - Free Software Foundation, version 3 of the License.
 -
 - iTasks-Electron is distributed in the hope that it will be useful, but
 - WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 - or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
 - License for more details.
 -
 - You should have received a copy of the GNU Affero General Public License
 - along with iTasks-Electron. If not, see <https://www.gnu.org/licenses/>.
 -
 - The software is licensed under additional terms under section 7 of the GNU
 - Affero General Public License; see the LICENSE file for details.
 -->
<html style="width: 100%; height: 100%;">
<head>
	<meta charset="UTF-8">
	<title></title>

	<script>
		window.itasks={
			settings: {
				base_dir: '{%ITASKS_BASE_DIR%}', // Base directory of the application

				//stack_size: 512<<10, // ABC interpreter stack size, in bytes
				//heap_size: 2<<20, // ABC interpreter heap size, in bytes
			}
		};
	</script>

	<link rel="stylesheet" href="{%ITASKS_BASE_DIR%}css/itasks-modules.css" type="text/css" >

	<!-- ABC interpreter -->
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/abc-interpreter.js"></script>

	<!-- iTasks framework -->
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-core.js"></script>
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-components-raw.js"></script>
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-components-form.js"></script>
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-components-display.js"></script>
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-components-selection.js"></script>
	<script type="text/javascript" src="{%ITASKS_BASE_DIR%}js/itasks-components-container.js"></script>

	<script type="text/javascript">
		const {ipcRenderer}=require ('electron');
		ipcRenderer.once ('connect',(ev,instanceNo,instanceKey) => {
			itasks.viewport ({
				syncTitle: true,
				attributes: {
					instanceNo: instanceNo,
					instanceKey: instanceKey
				}
			}, document.body);
		});
	</script>
</head>
<body style="width: 100%; height: 100%">
</body>
</html>
